<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.synradar_sectudo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />



    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".insecure.InsUpdateAddrActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".insecure.InsLogin2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".learningmodule.LearningTabActivity" />
        <activity android:name=".learningmodule.HiddenActivity">
            <intent-filter>
                <action android:name="android.intent.action.HIDDEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learningmodule.QuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".learningmodule.CongratsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".learningmodule.RetryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainNewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndBlogActivity" />
        <activity android:name=".BlogActivity" />
        <activity
            android:name=".secure.SecViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.SecShowDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.SecCheckEligibilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.SecAddkycActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.SecHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".secure.SecLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insecure.InsViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insecure.InsShowDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insecure.InsCheckEligibilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insecure.InsAddkycActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insecure.InsHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insecure.InsLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>